<body>
    <title>TelecomBook</title>
        <header>TelecomBook</header>
        <tr>
            <td>
                <img src="/static/data/photos/MjgwODU1LmpwZw.jpg">
            </td>
            <td>
                <img src="/static/data/photos/MjgwODU1LmpwZw.jpg">
            </td>
            <td>
                <img src="/static/data/photos/MjgwODU1LmpwZw.jpg">
            </td>
        </tr>
        <a href="http://localhost:5000/lists">Listes</a>
        <footer>
            <p>2022 Telecom Nancy</p>
        </footer>
</body>

